{% extends 'base-editar.html' %}

{% block header %}
<h1>{% block title %} Editar tarea {% endblock %}</h1>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js"></script>

{% block content %}

{% with mensajes = get_flashed_messages() %}
{% if mensajes %}
{% for m in mensajes %}
{% if m == 'Los password no coinciden' %}

<script>
    Swal.fire({
        position: 'center',
        icon: 'error',
        text: '{{m}}',

        showConfirmButton: True,
        confirmButtonColor: '#3E60E9',
        confirmButtonAriaLabel: 'Ok',

        allowOutSideClick: false,
        allowEscapeKey: false,
        allowEnterKey: false,
        stopKeydownPropagation: false,
    })
</script>

{% endif %}
{% endfor %}
{% endif %}
{% endwith %}


<style>
h3{
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}
#contenedor{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 10px;
}
form{
    content: center;
    background-color: #71A5DE;
    text-decoration: white;
    text-align: center;
}
#form-rec{
    margin-left: auto;
    margin-right: auto;
}
#btn{
    margin-top: 20px;
    background:#143179 ;
    padding: 5px 20px;
}
label {
    margin: 5px 0;
}
</style>

<body onload="brython()" id="bodi">
    <h3>Editar personal</h3>
    <div class="container" id="contenedor">
        <div class="abs-center col-md-8 col-xl-7" id="form-rec">
            <form action="/actualizaP/{{data.id}}" method="post" name="f1" class="border p-5 form">
                <div class="form-group">
                    <b> <label for="nombre" style="color:black"> Nombre </label> </b>
                    <label for="nombre" style="color: black;">{{data.nombre}}</label>
                </div>
                <div class="form-group">
                    <b> <label for="apellido" style="color:black"> Apellido </label> </b>
                    <label for="apellido" style="color: black;">{{data.apellido}}</label>
                </div>
                <div class="form-group">
                    <b> <label for="rut" style="color:black"> Rut </label> </b>
                    <label for="rut" style="color: black;">{{data.rut}}</label>
                </div>
                <div class="form-group">
                    <b> <label for="password" style="color:black"> Password </label> </b>
                    <input name="password" id="password" type="password" class="form-control" style="color: black;">
                </div>
                <div class="form-group">
                    <b> <label for="repetir-password" style="color:black"> Repetir password </label> </b>
                    <input name="repetir_password" id="repetir_password" type="password" class="form-control" style="color: black;">
                </div>

                <div class="form-group" style="color:black">
                    <b> <label for="unidadtrabajo">Unidad de trabajo</label> </b>
                    <select name="unidadtrabajo"  class="form-control" style="color:black">
                        <option value="{{data.unidadtrabajo}}">{{ data.unidadtrabajo }}</option>
                        {% for unidad in data2 %}
                        <option value="{{unidad.nombre}}">{{ unidad.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Editar"  id="btn" class="btn btn-primary"/>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>


{% endblock %}
