{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Lista de tareas {% endblock %}</h1>
{% endblock %}

{% block content %}

{% with mensajes = get_flashed_messages() %}
{% if mensajes %}
{% for m in mensajes %}
<div class="alert alert-primary alert-dismissible fade show" role="alert" id="alerta">
    <p> {{m}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
{% endwith %}
<style>
#filtrar-estado{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
#opciones{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}
input{
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
table{
    margin-left: 50px;
}
#btn{
    background-color: #71A5DE;
    color: white;
}
</style>

<div class="row-12">
    <h3>Lista de tareas</h3>
    <form action="/filtrar" method="post" id="filtrar-estado">
    <select name="estado" id="opciones" >
        <option value="total">Total de tareas</option>
        <option value="completa">Tareas completas</option>
        <option value="incompleta">Tareas incompletas</option>
        <option value="en desarrollo">Tareas en desarrollo</option>
        <option value="ingresada">Tareas ingresadas</option>
    </select>
    <input type="submit" value="filtrar" id="btn">
    </form>
</div>

<div id="tabla-tareas" class="col-md-11">
<table class="table table-striped table-bordered bg-white table-md">
    <thead class="thead-primary">
        <tr class="thead-primary">
            <th class="">Titulo</th>
            <th class="">Detalle</th>
            <th class="">Fecha de entrada</th>
            <th class="">Fecha de termino</th>
            <th class="">Estado</th>
            <th class="">Observacion</th>
            <th class="">Unidad de trabajo</th>
            <th class="">Solicitante</th>
            <th class="">Encargado</th>
            <th class="">Actualizar</th>
            <th class="">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in data %}
        <tr>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.detalle }}</td>
            <td>{{ tarea.fechaentrada }}</td>
            <td> {{ tarea.fechasalida }}</td>
            <td>{{ tarea.estado }}</td>
            <td>{{ tarea.observacion }}</td>
            <td>{{ tarea.unidadtrabajo }}</td>
            <td>{{ tarea.solicitante }}</td>
            <td>{{ tarea.encargado }}</td>
            <td> <a href="/editartarea/{{tarea.id}}" class="btn btn-primary">Editar</a> </td>
            <td><a href="/eliminartarea/{{tarea.id}}" class="btn btn-danger">Eliminar</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}