{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Reportes {% endblock %}</h1>
{% endblock %}

{% block content %}

<style>
#btn{
    background-color: #2D219B;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
form{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
#tabla-tareas {
    margin-left: auto;
    margin-right: auto;
    min-height: .01%;
    overflow-x: auto;
    width: 50%;
}
#grafico{
    width: 70%;
    height: 70%;
    text-align: center;
}

@media (max-width: 1050px) {
    #tabla-tareas{
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    img{
        width: 120%;
        height: 120%;
    }
    #btn{
        margin: 10px 0;
    }
}
</style>

<body>
    <h3>Reportes de tareas</h3>
    <div class="container" id="reporte">
        <form action="/reportes" method="post">
            <label for="desde">Desde</label>
            {% if desde != None %}
            <input name="desde" id="desde" type="date" value="{{desde}}" required/>
            {% endif %}
            <label for="hasta">Hasta</label>
            {% if hasta != None %}
            <input name="hasta" id="hasta" type="date" value="{{hasta}}"/>
            {% endif %}
            <input type="submit" value="filtrar" id="btn">            
        </form>
    </div>

    <div id="tabla-tareas" class="container">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead class="thead-primary">
                <tr class="thead-primary">
                    <th></th>
                    <th>Total de tareas</th>
                    <th>Completadas</th>
                    <th>Incompeltas</th>
                    <th>Ingresadas</th>
                    <th>En desarrollo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Cantidad</th>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td>{{ data[2] }}</td>
                    <td>{{ data[3] }}</td>
                    <td>{{ data[4] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container" id="grafico">
        <img src="data:image/png;base64, {{ imgurl }}">
    </div>   
</body>




{% endblock %}