{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Registro de unidades de trabajo {% endblock %}</h1>
{% endblock %}

{% block content %}

{% with mensajes = get_flashed_messages() %}
{% if mensajes %}
{% for m in mensajes %}
{% if m ==  'La unidad de trabajo ya existe' or m == 'No se puede eliminar la unidad de trabajo, existe personal asociado a ella' %}

<script>
    Swal.fire({
        position: 'center',
        icon: 'error',
        text: '{{m}}',

        showConfirmButton: true,
        confirmButtonColor: '#3E60E9',
        confirmButtonAriaLabel: 'ok',

        allowOutsideClick: false,
        allowEscapeKey: false,
        allowEnterKey: false,
        stopKeydownPropagation: false,
    })
</script>

{% elif m == '¡Unidad de trabajo creada con exito!' %}

<script>
    Swal.fire({
        position: 'center',
        icon: 'success',
        text: '{{m}}',

        showConfirmButton: true,
        confirmButtonColor: '#3E60E9',
        confirmButtonAriaLabel: 'ok',

        allowOutsideClick: false,
        allowEscapeKey: false,
        allowEnterKey: false,
        stopKeydownPropagation: false,
    })
</script>

{% else %}

<script>
    Swal.fire({
        position: 'center',
        icon: 'question',
        text: "Seguro que desea eliminar la unidad de {{nombre}}?",

        //boton eliminar
        showConfirmButton: true,
        confirmButtonColor: '#df4759',
        confirmButtonAriaLabel: 'Eliminar',
        confirmButtonText: 'Eliminar',

        //boton volver
        showCancelButton: true,
        cancelButtonColor: '#24A0ED',

        //Condicion de la alerta (no se cierra al hacer click en otro lugar que no sean los botones(solo si todos estan en false))
        allowOutsideClick: false,
        allowEscapeKey: false,
        allowEnterKey: false,
        stopKeydownPropagation: false,


    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                method: 'POST',
                url: '/eliminarunidad/{{m}}',
            });
            Swal.fire({
                position: 'center',
                icon: 'success',
                text: 'La unidad {{nombre}} ha sido eliminada',

                showConfirmButton: true,
                confirmButtonColor: '#3E60E9',
                confirmButtonAriaLabel: 'volver',
                confirmButtonText: 'volver',

                allowOutsideClick: false,
                allowEscapeKey: false,
                allowEnterKey: false,
                stopKeydownPropagation: false,
            }).then((isConfirmed) => {
                window.location.href = '/unidadtrabajo';
            })

        } else {
            window.location.href = '/unidadtrabajo';
        }
    })
</script>


{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<style>
form{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
#tabla-tareas {
    margin-left: auto;
    margin-right: auto;
}
#btn-unidad{
    background-color: #2D219B;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

</style>


<body onload="brython()">
<h3>Unidad de trabajo</h3>
<div class="col-md-12">
    <form action="{{url_for('crearunidadtrabajo')}}" method="post">
        <label for="nombre">Nombre</label>
        <input name="nombre" id="nombre" required/>
        <input type="submit" value="registrar" id="btn-unidad"/>
    </form>
</div>
<div id="tabla-tareas" class="col-md-6">
    <table class="table table-striped table-bordered bg-white table-ls">
        <thead>
            <tr>
                <th>Unidades de trabajo</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for unidad in data %}
            <tr>
                <td>{{ unidad.nombre }}</td>
                <td> <a href="/buscar_unidad/{{unidad.id}}" class="btn btn-danger">Eliminar</a> </td>
            </tr>    
            {% endfor %}
        </tbody>
    </table>
</div>

</body>

{% endblock %}

